@import "font-awesome";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9FC;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul.account-progress li a:hover{
    color: inherit;
}

i.fas {
    font-size: 12px;
    color: #fff;
}

h1 {
    font-size: 36px;
    letter-spacing: 0.51px;
    color: #24262B;
    font-weight: 500;
    line-height: 51px;
}

h2 {
    font-size: 18px;
    font-weight: 200;
    color: #4C4D63;
    line-height: 30px;
}

h3{
    font-size: 18px;
    font-weight: normal;
    color: #4D67FF;
    line-height: 25px;
    margin-bottom: 30px;
}

h4{
    float: left;
    font-size: 18px;
    color: #1C1C1C;
    line-height: 25px;
}

div.page-title {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
}

span.title-detail {
    font-size: 12px;
    font-weight: 300;
    color: rgba(74, 74, 74, 0.50);
    line-height: 17px;
}

i.required-field {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #D0021B;
    border-radius: 50%;
    vertical-align: middle;
    margin: 7px 10px 0 0;
}

a.previous-step{
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #82879E;
}
a.previous-step:hover{
    color: #4D67FF;
}

button.continue-btn{
    background-color: #4D67FF;
    padding: 12px 80px;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    color: #fff;
}

button{
    outline: none !important;
    box-shadow: none !important;
}

label {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #82879E;
    line-height: 20px;
    margin-bottom: 0;
}

label .sub-label {
    font-size: 12px;
    font-weight: 200;
    line-height: 17px;
    letter-spacing: 0.25px;
    margin-left: 8px;
}

.form-group{
    margin: 0 !important;
    height: 100px;
}

.form-group label span b {
    font-size: 12px;
    font-weight: lighter;
    line-height: 17px;
    color: #82879E;
    margin-left: 8px;
}

input {
    padding: 11px 35px 11px 25px !important;
    border-radius: 4px !important;
}

input:focus{
    outline: none !important;
    box-shadow: none !important;
}

input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BEC1CD;
    font-size: 16px;
    font-weight: lighter;
    line-height: 23px;
}

input[type="email"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="number"]::-moz-placeholder  { /* Firefox 19+ */
    color: #BEC1CD;
    font-size: 16px;
    font-weight: lighter;
    line-height: 23px;
}

input[type="email"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder ,
 input[type="number"]:-ms-input-placeholder{ /* IE 10+ */
    color: #BEC1CD;
    font-size: 16px;
    font-weight: lighter;
    line-height: 23px;
}

input[type="email"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="number"]:-moz-placeholder
 { /* Firefox 18- */
    color: #BEC1CD;
    font-size: 16px;
    font-weight: lighter;
    line-height: 23px;
}

input.form-control:focus {
    background: rgba(96,127,255,0.07);
    border-color: #4D67FF;
    box-shadow: none;
}

select.form-control:not([size]):not([multiple]){
    height: calc(2.75rem + 2px) !important;
    text-indent: 11px;
}

input.form-control:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color: rgba(96,127,255,0.07);
    border-color: #4D67FF;
}
input.success-brdr{
    background: rgba(249,249,252,0.48);
    border-color: #4FCE3E;
}
select.success-brdr{
    background: rgba(249,249,252,0.48);
    border-color: #4FCE3E;
}
select.error-brdr{
    background: rgba(249,249,252,0.48);
    border-color: #FF151F;
}

span.success-icon{
    position: absolute;
    top: 16px;
    right: 10px;
    font-size: 10px;
}
span.success-icon i{
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    color: #7ED321;    
}
input.error-brdr{
    background: rgba(249,249,252,0.48);
    border-color: #FF151F;
}
span.error-icon{
    position: absolute;
    top: 12px;
    right: 10px;
}
span.error-icon i{
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    color: #FF151F;
}
i.error-msg{
    font-weight: 400;
    font-size: 11px;
    color: #FF1721;
    letter-spacing: 0;
    font-style: normal;
}
div.input-wrapper{
    position: relative;
}



.form-control:focus{
    background-color: rgba(96,127,255,0.07);
    border-color: #4D67FF;
    box-shadow: none;
}



/* Header */
header {
    display: inline-block;
    width: 100%;
    background-color: #F1F2F5;
    text-align: center;
}

.account-progress-outer {
    width: 830px;
    max-width: 830px;
    margin: 0 auto;
}

.account-progress-outer ul{
    /* display: inline-block;
    width: 100%; */
    display: flex;
    justify-content: space-between;
    
}

.account-progress-outer ul li {
    font-size: 14px;
    color: #101131;
    position: relative;
}

.account-progress-outer ul li:last-child{
    margin-right: 0;
}

.account-progress-outer ul li a{
    color: #101131;
    display: flex;
}

.account-progress-outer ul li a i{
    font-size: 12px;
    line-height: 1;
    font-style: normal;
    color: #fff;
    font-weight: 500;
}

.account-progress-outer ul li .progress-list {

    padding: 35px 0 33px;
}

.account-progress-outer ul li .progress-list-border {
    border-bottom: 2px solid #4D67FF;
    
}

.account-progress-outer ul li .check-bg {
    border-radius: 50%;
    margin-right: 15px;
    border: 1px;
    border-style: solid;
    border-color: #4D67FF;
    background-color: #4D67FF;

    float: left;
    min-width: 23px;
    min-height: 23px;
    font-size: 14px;
}

.account-progress-outer ul li .check-bg i {

}

.account-progress-outer ul li .check-ongoing-bg{
    background-color: rgba(92, 127, 255, 0.50);
}

.progress-done:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 250px;
    background-color: #4D67FF;
    bottom: 0;
}

.account-progress-outer ul li:last-child .progress-done:after{
    display: none;
}

.account-progress-outer ul li .check-done i {
    color: #fff;
}

.account-progress-outer ul li .check-ongoing-bg i{
    color: #4D67FF;
}

.account-progress-outer ul li .check-remaining {
    background-color: #9297AA;
    border-color: #9297AA;
}

.account-progress  .last-li:last-child  .progress-done:after {
    content: "";
    width: 35px; 
  
  }

/* Header end */





.main-body-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.main-body-wrapper .initiate-failure-content-outer {
    display: inline-block;
    max-width: 930px;
    width: 100%;
    padding: 100px 120px;
    box-shadow: 0 2px 24px 0 #DCDCDD;
    border-radius: 16px;
    background-color: #fff;
    margin: 100px auto 20px;
}

.initiate-failure-content-outer .initiate-failure {
    display: inline-block;
    width: 100%;
    max-width: 459px;
    height: 342px;
    max-height: 342px;
    background-image: url('../img/bg-img/initiate-failure.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}


.main-body-wrapper .form-wrapper {
    display: inline-block;
    margin: 0 auto 40px;
    width: 100%;
    max-width: 830px;
    background-color: #fff;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 2px 24px 0 rgba(220, 220, 221, 0.70);
    padding: 48px 80px;
}

.company-tnc-box {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.company-tnc-box input {
    float: left;
}

.company-tnc-box .company-tnc-checkbox {
    float: left;
    padding: 16px 10px 10px 5px;
}

.company-tnc-box .company-tnc-links {
    display: inline-block;
    width: 85%;
    padding-top: 14px;
}

.company-tnc-box .company-tnc-links p {
    display: inline-block;
    font-size: 14px;
    color: #82879E;
    line-height: 20px;
    font-weight: lighter;
    text-align: left;
}

.company-tnc-box .company-tnc-links p a {
    font-weight: 400;
    color: #82879E;
    border-bottom: 1px solid #82879E;
}

.submit-btn {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-align: right;
}

.submit-btn button {
    padding: 12px 66px !important;
    background-color: #6C5BED;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
}

.required-field {
}




/* Mobile Varification page */
.mobile-varification{
    display: inline-block;
    width: 100%;
    max-width: 178px;
    height: 117px;
    max-height: 117px;
    background-image: url('../img/bg-img/mobile-varification-img.png');
    background-size: cover;
    background-repeat: no-repeat;
}



.otp-box-wrapper{
    padding: 16px 0;
    margin: 0 auto;
    display: inline-block;
}
.otp-box-wrapper input[type=number] {
    height: 64px;
    width: 70px;
    font-size: 25px;
    text-align: center;
    border: 1px solid rgba(130, 135, 158, 0.28);
    color: #000 !important;
}


.otp-box-wrapper-error input[type=number] {
    border: 1px solid red !important;
}


.otp-box-wrapper input[type=number]::-webkit-inner-spin-button,
.otp-box-wrapper input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp-box-wrapper a{
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    color: #4D67FF;
    padding: 8px 0;
}
.varification-title{
    font-size: 16px;
    line-height: 23px;
    color: #4C4D63;
    font-weight: 200;
}
.varification-title span i{
    font-style: normal;
}
.previous-step-wrap{
    text-align: left;
    padding: 12px 0;
}
.continue-btn-wrap{
    text-align: right;
}
/* Mobile Varification page end */


/* Merchent Selector page */
/* style the images */
div.merchant-wrap img {
    display: block;
    margin: 0;
    padding: 0;
    transition-duration: 300ms;
    transform: scale(1);
    filter: none;
    -webkit-filter: grayscale(1);
    cursor: pointer;
}
span.merchant-wrap.checked img {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(0);
}

/* style the parent spans */
div.merchant-wrap {
    padding: 0;
    margin: 5px;
    display: inline-block;
    width: 100%;
    border: 1px solid transparent;
    transition-duration: 300ms;
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
}
div.merchant-wrap.checked {
    border-color: #ccc;
}

/* Using conexo's fantastic CSS, make the checkmarks */
/* div.merchant-wrap::before {
    background-color: rgba(50, 200, 50, 0.7);
    color: white;
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    margin: 2px;
    top: 0;
    right: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transform: scale(0);
    transition-duration: 300ms;
}
div.merchant-wrap.checked::before {
    transform: scale(1);
}

div.select-merchant-type input[type="radio"] {
    display: none;
}
div.select-merchant-type input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
}
div.select-merchant-type input[type="radio"]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
}

label.merchant-selector {
    height: 100%;
    display: block;
    background: white;
    border: 4px;
    border-style: solid;
    border-color: rgba(130, 135, 158, 0.14);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    position: relative;
    filter: grayscale(100%);
    color: #82879E;
}

div.select-merchant-type input[type="radio"]:checked + label.merchant-selector {
    background: #fff;
    color: #000;
    border-color: #607FFF;
    filter: grayscale(0);
    color: #4D67FF;
  
}
div.select-merchant-type input[type="radio"]:checked + label.merchant-selector::after {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: -22px;
    right: -22px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #333FFF;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
}

div.select-merchant-type input[type="radio"]#control_05:checked + label.merchant-selector {
    background: red;
    border-color: red;
} */

/* label.merchant-selector p {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0;
} */

output.output, span.output-text {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #4D67FF;
}

div.on-hover {
    height: 100%;
    display: block;
    background: white;
    border: 4px;
    border-style: solid;
    border-color: rgba(130, 135, 158, 0.14);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    position: relative;
    filter: grayscale(100%);
    color: #82879E;
    cursor: pointer;
}

div.on-hover::after {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: -22px;
    right: -22px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #333FFF;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    opacity: 0;
}

div.on-hover:hover {
    border-color: #607FFF;
    border-radius: 8px;
    filter: grayscale(0);
    color: #4D67FF;
}

div.on-hover:hover:after{
    opacity: 1;
}

div.on-hover p {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0 0;
}

/* Merchent selector page end */


/* Individual Information page */
.form-group .calendar-input-wrapper{
    position: relative;
    width: 100%;
}
.form-group .calendar-input-wrapper:after{
    content: "";
    position: absolute;
    top: 12px;
    right: 15px;
    width: 22px;
    height: 24px;
    background-image: url('../img/cal-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../img/down-arrow.svg') !important;
    background-position: 95% center;
    background-repeat: no-repeat;
    color: #495057;
    font-size: 16px;
    line-height: 23px;
  }

    /* css for plan select input in BankForm */
  select.plan-select{
      background-position: 97% center;
  }
/*Individual Information page end */


/* Company Information page */
.form-outer-wrap{
    display: inline-block;
    margin: 0 auto 40px;
    width: 100%;
    max-width: 830px;
    background-color: #fff;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 2px 24px 0 rgba(220, 220, 221, 0.70);
    overflow-x: hidden;
}
.form-group div .input-group-text{
    border-radius: 4px 0 0 4px !important;
    font-size: 16px;
    font-weight: 200;
    line-height: 23px;
    color: #BEC1CD;
    border-right: 0;
    background-color: #f5f5f7;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.06) 100%);
    padding: 11px 30px;
}
.form-group input.web-link {
    border-radius: 0 4px 4px 0 !important;
}
.main-body-wrapper .form-company-info{
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: none;
}
#form-border{
    position: absolute;
    width: 850px;
    height: 1px;
    background-image: linear-gradient(90deg, rgba(130, 135, 158, 0.29), rgba(130, 135, 158, 0.29) 50%, transparent 75%, transparent 100%);
    background-size: 15px 1px;
    border: none;
    left: -120px;
    top: 0px;
}



.plus-btn{
    display: inline-block;
    width: 100%;
}
.add-owner-wrap{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.add-owner-wrap .add-owner{
    padding: 10px 20px;
    text-align: center;
    border: 2px solid green;
    border-radius: .25rem;
    background-color: green;
    margin: 0 0 20px; /*decreased 30px*/
    display: inline-block;
}

.add-owner{
    padding: 12px  54px;
    text-align: center;
    border: 2px  solid  green;
    border-radius: .25rem;
    background-color: green;
}
 
.add-owner  span{
    font-size: 15px;
    color: #fff;
    line-height: 23px;
    font-weight: 300;
}
.add-owner  span  i{
    font-size: 15px;
    margin-right: 15px;
}

div.remove-icon a{
    display: inline-block;
}
span.details-title{
    font-size: 14px;
    color: #82879E;
    line-height: 35px;
}
span.details-text{
    font-size: 16px;
    color: #24262B;
    letter-spacing: 0;
    line-height: 35px;
}
div.owner-detail{
    display: inline-block;
    width: 100%;
}
div.owner-detail h3{
    float: left;
    width: auto;
}
div.owner-detail .remove-icon {
    float: right;
    width: auto;
}
div.remove-icon a i{
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    color: #82879E;
}
div.remove-icon a i:hover{
    color: red;
}


/* Company Information page end */

/* Connect Bank Account page */
.connect-bank{
    display: inline-block;
    width: 100%;
    max-width: 194px;
    height: 193px;
    max-height: 193px;
    background-image: url('../img/bg-img/bank-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
/* Connect Bank Account page end */

/* Connected Bank Account */
.connected-accounts-wrapper{
    width: 100%;
    max-width: 630px;
    height: auto;
}
.connected-accounts-inner-wrapp{
    background: rgba(96,127,255,0.05);
    margin: 48px 0;
    padding: 25px 25px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #f1f1f1;
    display: inline-block;
    width: 100%;
}
div.connected-accounts-inner-wrapp table, table tbody{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
div.connected-accounts-inner-wrapp tr.connected-account-list-item{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
div.connected-accounts-inner-wrapp td.connected-account-details{
    float: left;
    width: auto;
}
div.connected-accounts-inner-wrapp td.remove-account{
    float: right;
    font-size: 10px;
}
/* Connected Bank Account page end */

/* Select Payout page */
ul.payout-list{
    display: inline-block;
    width: 100%;
    height: auto;
}
ul li.payout-list-item{
    color: #fff;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #F3F4F5;
    border-radius: 8px;
    margin: 0 0 16px;
}
ul li.payout-list-item:last-child{
    margin: 0;
}
ul.payout-list li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

li.payout-list-item label{
    padding: 25px 25px 25px 60px;
}
label div#selected-account-details{
    text-align: left;
}
div#account-number{
    /* margin: 0 0 8px; */
}
#account-number p{
    font-size: 14px;
    color: #535A72;
    font-weight: 200;
    line-height: 20px;
}
#account-number span{
    font-size: 24px;
    color: #535A72;
    font-weight: 500;
    line-height: 33px
}
#account-number i{
    font-size: 14px;
    color: #4D67FF;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
    float: left;
}
#account-holder-details {
    padding-top: 20px;
}
#account-holder-details span{
    font-size: 18px;
    color: #535A72;
    line-height: 25px;
    font-weight: 400;
    margin: 5px 0 3px;
    display: inline-block;
}
#account-holder-details i{
    font-size: 14px;
    color: #535A72;
    line-height: 20px;
    font-weight: 200;
    font-style: normal;
    display: block;
}

.check{
    display: inline-block;
    float: left;
    border: 1px solid #BDC0CB;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 28px;
    left: 20px;
}

.check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 11px;
    width: 11px;
    top: 6px;
    left: 6px;
}

ul.payout-list li input[type=radio]:checked ~ .check::before{
    background: #4D67FF;
}
/* Select Payout page end */

/* Provide Payout page */
div.ppa-radio-wrap{
    height: 50px;
    position: relative;
}
i.success-radio{
    top: 5px;
}
span.custom-control{
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    margin-right: 15px;
}
span.custom-control:last-child{
    margin: 0;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color: transparent;
}
.custom-control-label::before{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #BDC0CB;
    top: 0;
    left: 0;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-image: none;
    background-color: #4D67FF;
    height: 11px;
    width: 11px;
    top: 7px;
    left: 7px;
    position: absolute;
    border-radius: 50%;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
span.custom-control label{
    font-size: 16px;
    color: #82879E;
    line-height: 23px;
    font-weight: 300;
    cursor: pointer;
}
/* Provide Payout page end */

/* Running Check page (Loading page) */
.main-body-wrapper .review-account.form-wrapper { max-width: 830px; margin: 100px auto 40px; padding: 60px 50px; color: #535A72; font-weight: 300; text-align: center; font-size: 18px; }

.spinner { margin: 50px auto; text-align: center; }
.spinner > div { width: 50px; height: 50px; background-color: #4D67FF; display: inline-block; -webkit-animation: sk-bouncedelay 2s infinite ease-in-out both; animation: sk-bouncedelay 2s infinite ease-in-out both; margin-right: 5px; }

.spinner .bounce1 { -webkit-animation-delay: -0.50s; animation-delay: -0.50s; }
.spinner .bounce2 { -webkit-animation-delay: -0.40s; animation-delay: -0.40s; }
.spinner .bounce3 { -webkit-animation-delay: -0.30s; animation-delay: -0.30s; }
.spinner .bounce4 { -webkit-animation-delay: -0.20s; animation-delay: -0.20s; }
.spinner .bounce4 { -webkit-animation-delay: -0.10s; animation-delay: -0.10s; }

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  20% {
    opacity: 0.70;
  }
  40% {
    opacity: 0.80;
  }
  60% {
    opacity: 0.90;
  }
}

.main-body-wrapper .form-wrapper.congrats-content { text-align: center; font-size: 18px; color: #535A72; font-weight: 300; margin: 100px auto 40px; }
.main-body-wrapper .form-wrapper.congrats-content { padding: 48px 40px; }
.main-body-wrapper .form-wrapper.congrats-content h1 { margin: 0 0 10px 0; }
.congrats-content .congrats-image { margin: 0 0 45px 0; }  
.congrats-content .congrats-image img { width: auto; }
/* Running Check page (Loading page) end */

/* Privecy page */
.privacy-content { 
    /* padding: 60px 0; */
     background: #ffffff; }
.privacy-content h1 { margin: 0 0 45px 0; }
.privacy-content h3 { color: #24262B; font-size: 24px; font-weight: 500; margin: 0 0 16px 0; line-height: 1.3; }
.privacy-content p { color: #82879E; font-size: 16px; line-height: 32px; padding: 0 0 30px 0; font-weight: 400; text-indent: 10px;}
.privacy-content .count-span { color: #1C1C1C; font-size: 18px; font-weight: normal; float: left; text-indent: 0;}
/* Privecy page end */


.vdatetime-input {
    color: #495057;
    border: none;
    width: 100%;
    padding: 5px 10px !important;
}

a {
    cursor: pointer;
}
#border-space{
    padding: 80px 0 0;
    position: relative;
}
#loading{
    width: 100%;
    display: inline-block;
    margin-top: 100px;
}
.otp-input{
    padding: 10px 10px !important;
}
.resendcode{
    color: black;
    font-size: 14px;
    font-weight: 300;;
}


/* Anchor tag disable css */

a.disabled {
    pointer-events: none;
    cursor: default;
 }

 /* Modal css */

 .modal-open .custom-modal{
    overflow-y: hidden;
}
.custom-modal{
    margin: 0 15px;
    /* display: block; */
}
.custom-modal .modal-dialog{
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
}
.custom-modal .modal-dialog .modal-content{
    height: 100%;
}
.custom-modal .modal-body{
    height: 100%;
    overflow: auto;
    text-align: left;
}
.modal-content .close-custom{
    padding: 8px 10px 0;
}
.modal-content .close-custom span{
    font-size: 45px;
    line-height: 1;
    font-weight: 200;
}
#form-border-wrap{
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 50px;
}
.hello{
    margin-top: -40px !important; 
}
.connect-btn-wrap{
    text-align: center;
}
.connect-btn-wrap .add-owner{
    padding: 10px 0;
    width: 265px;
}
#captcha-wrapper{min-height: 105px;}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.range-wrap{height: 110px;}
.vue-slider-horizontal{padding: 11px 0 !important;}
.alert-danger i{color: red;}

.diy-tooltip{position: relative;}
/* .diy-tooltip b{position: absolute;left: 3px;top: 0;background-color:#ABABAB;width: 6px;height: 6px;} */
.diy-tooltip span {position: absolute;left: 0px;top: -30px;font-size: 12px;color: #4D67FF;}

.range-dvdr{display: flex;justify-content: space-between;width: 100%;}
.range-dvdr span{font-size: 14px; color: #4D67FF;line-height: 1;}

.vue-slider-component .vue-slider{position: relative !important; width: 100%;}
.vue-slider-component .vue-slider i.range-0{position: absolute;left: 0;top: -15px;}
.vue-slider-component .vue-slider i.range-25{position: absolute;left: 25%;top: -15px;}
.vue-slider-component .vue-slider i.range-50{position: absolute;left: 50%;top: -15px;}
.vue-slider-component .vue-slider i.range-75{position: absolute;left: 75%;top: -15px;}
.vue-slider-component .vue-slider i.range-100{position: absolute;right: 0;top: -15px;}
