<template>
    <section class="main-body-wrapper">
        <div class="container p-0">
          <div class="form-wrapper congrats-content">
            <div class="container-fluid">
              <h1>Congratulations</h1>
              <div class="congrats-image">
                <img src="/static/img/congrats-tb-reviewed.png">
              </div>
              <h2>Account in review process</h2>
              <p>One underwriters is currently reviewing your account. <br /> Check your email for further instructions on accessing our platform</p>
            </div>
          </div>
        </div>
      </section>
</template>


<script>
export default {
  name: 'Success',
  data () {
    return {
      account: localStorage.getItem('account')
    }
  },
  mounted () {
      this.$store.commit('setStepProgress', {step:4,status:  'completed'})
  },
  methods: {

  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

