<template>
    <section class="main-body-wrapper">
        <div class="container p-0">
          <div class="form-wrapper congrats-content">
            <div class="container-fluid">
              <h1>Congratulations</h1>
              <div class="congrats-image">
                <img src="/static/img/congrats-approved.png">
              </div>
              <h1>Account# {{account}}</h1>
              <p>Your account has been successfully created. <br /> Check your email for further instructions on accessing our platform</p>
            </div>
          </div>
        </div>
      </section>
</template>


<script>
export default {
  name: 'Success',
  data () {
    return {
      account: localStorage.getItem('account')
    }
  },
  mounted () {
      console.log('came here .. 1')
      this.$store.commit('setStepProgress', {step:4,status:  'completed'})

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

