<template>
	 <section class="main-body-wrapper">
			<div class="container">
				<div class="page-title">
					<h1>Connect to Your Bank</h1>
					<h2 class="sub-title">In order to get paid and protect your account, we need to verify additional information</h2>
				</div>
				<div class="form-wrapper text-center">
					<div class="connect-bank"></div>
					<div class="add-owner-wrap connect-btn-wrap">
            <button class="btn add-owner"
             :disabled="!connectToken && connectWidgetReady"
              v-on:click="openConnect"
            ><span><i class="fas fa-plus"></i>{{ btnConnect }}</span></button>
						<!-- <button type="submit" 
            class="btn continue-btn"
            :disabled="!connectToken && connectWidgetReady"
            v-on:click="openConnect"
            >{{ btnConnect }}</button> -->
					</div>
					<div class="connected-accounts-outer-wrapp">

	        <div  v-if="!connectionsReady" class="connected-accounts-inner-wrapp">
              	<h4  class="float-left w-100 text-left">Checking accounts..</h4>
          </div>
						<div v-if="connectionsReady" class="connected-accounts-inner-wrapp">
            	<h4  v-if="connections.length==0" >Please connect an account to proceed..</h4>
							<h4  v-if="connections.length>0">Connected Accounts</h4>
							<table  v-if="connections.length>0">
								<tbody class="connected-accounts-list">
									<tr class="connected-account-list-item" v-for="(conn, index)  in connections" :key="index">
                    <!-- <td class="connected-account-details">
                      {{index+1}}.
										</td> -->
										<td class="connected-account-details">
                      {{conn.institution_name}}
										</td>
                    <!-- <td class="connected-account-details">
                      {{conn.status}}{{conn.id}}
										</td> -->
										<td class="remove-account" v-on:click.prevent="removeConnection(index,conn.id)">
												<div class="remove-icon">
                          <a>
                             <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="previous-step-wrap">
									<a href class="previous-step" v-on:click.prevent="back">Previous Step</a>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="continue-btn-wrap">
									<button 
                     type="submit"
                     class="btn continue-btn"
                     :disabled="connections.length < 1"
                     v-on:click.prevent="next">Continue</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</template>

<script>
export default {
  name: 'ConnectToBank',
  data () {
    return {
      btnConnect: "Please wait . .",
      token: localStorage.getItem('token'),
      connectToken: null,
      connectWidgetReady: false,
      handler: null, 
      type: localStorage.getItem('type'),
      connections: [],
      connectionsReady: false
    }
  },

  mounted () {
    this.refreshConnections()
    this.getConnecToken()
  }, 
  methods: {
    setupConnect: function() {
      let that=this
      that.handler = Quovo.create({
        token: this.connectToken,
        confirmClose: false, //removes confirmation to close widget
        enableAuthDeposits: true, //This lets end users verify their bank accounts on any institution not covered by instant account verification. 
        syncType: 'auth', //Choose what type of connection syncs are performed within Connect. Possible values are agg, auth, or both
        search: {
          testInstitutions: true,
        },
        // optional function parameters
        onLoad: function() {
          //enables the connect button
          that.connectWidgetReady=true
          //opens connect widget automatically if no connectinos yet
          if(that.connections.length==0) {
            this.open()
          }
        },
        onAdd: function(err, event) {
          if (!err) {
            console.log('Connection', event.connection.id, 'added!')
            that.refreshConnections()
          }
        },
        // optional string parameter
        topInstitutions: 'banks',
      })
    },
    refreshConnections: function() {
      let that=this
      let setting = {
          "url": "/onboarding/connections",
          "method": "GET",
          "headers": { "content-type": "application/json",
                        "authorization": "Bearer " + that.token}
      }
      //loading connections and details to display in page
      that.$axios(setting).then(response => {
          that.connectionsReady=true
          console.log("connections:---")
          console.log(response.data)
          that.connections=response.data.connections
          if(that.connections.length > 0){
             that.btnConnect="Connect another account"
          }
        }).catch(error => {
          let logObject = {module: "onboarding",error: error, details: {page: "connectTobank.refreshConnections",endpoint: "/onboarding/connect-token" ,data:{}}};
          this.$store.commit('logError', logObject);
        })
    },
    getConnecToken() {
      let that=this
      that.$axios({
        "url": "/onboarding/connect-token",
        "method": "GET",
        "headers": { 
            "content-type": "application/json",
            "authorization": "Bearer " + this.token 
        }
      })
      .then(response => {
        console.log("sync:---")
        console.log(response)
        that.connectToken = response.data.connect_token
        that.setupConnect()
        that.btnConnect= this.connections.length > 0 ? "Connect another account" : "Connect account"
      })
      .catch(error => {
        let logObject = {module: "onboarding",error: error, details: {page: "connectTobank.getConnecToken",endpoint: "/onboarding/connect-token",data:{} }};
        this.$store.commit('logError', logObject);
      })
    },
    removeConnection: function(index,id) {
      console.log("removeConnection: " + index + " , id:" + id)
      
      let that=this
      that.$axios({
        "url": "/onboarding/connections/"+id,
        "method": "DELETE",
        "headers": { 
            "content-type": "application/json",
            "authorization": "Bearer " + this.token 
        }
      })
      .then(response => {
        console.log("removeConnection:---")
        console.log(response)
        //remove element from client
        that.connections.splice(index, 1);
        that.btnConnect= this.connections.length > 0 ? "Connect another account" : "Connect account"
      })
      .catch(error => {
        let logObject = {module: "onboarding",error: error, details: {page: "connectTobank.removeConnection",endpoint: "/onboarding/connections",data:{}}};
        this.$store.commit('logError', logObject);
      })
      
    },
    openConnect: function() {
      this.handler.open()
    },
    next: function() {
      this.handler=null
      this.$store.commit('setStepProgress', {step: 3,status:  'progress'})
      this.$router.push({"name": "BankForm"})
    },
    back: function() {
      this.handler=null
      this.$router.push({"name": this.type })
    }
  }

  

}
</script>