<template>
  <section class="main-body-wrapper">
    <div class="container p-0">
      <div class="page-title">
        <h1>Individual Information</h1>
        <h2
          class="sub-title"
        >From its medieval origins to the digital era, learn everything there is to know</h2>
      </div>
      <div class="form-wrapper">
        <div class="container-fluid"> 
           <IndividualSubForm :individual="individual" :v="$v.people.$each.$iter[0]"/>
           <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="previous-step-wrap">
                <a href class="previous-step" v-on:click.prevent="back">Previous Step</a>
              </div>
            </div>
              <div class="col-lg-6 col-md-12">
              <div class="otp-submit-btn">
                <div class="continue-btn-wrap">
                  <button
                    type="submit"
                    class="btn continue-btn"
                    :disabled="$v.$anyError" 
                    v-on:click.prevent="next"
                  >Continue</button>
                </div>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

import { required, minLength, between, email } from "vuelidate/lib/validators";
import IndividualSubForm from "../components/IndividualSubForm";
import { helpers } from 'vuelidate/lib/validators'

const validein  = helpers.regex('validein', /^\d{2}\-?\d{7}$/)
const validDate = (date) => {
      var nowdate = new Date();
      var diff = nowdate.getFullYear() - date.split('-')[0];
      if(diff > 18){ return true } else { return false }
}
const validphone  = helpers.regex('validphone', /^\d{10}$/)
const validzipcode = helpers.regex('validzipcode',/^\d{5}$/)



export default {
  name: "IndividualForm",
  components: {IndividualSubForm},
  data() {
    return {
      token: localStorage.getItem("token"),
      people: [
        {
        FirstName:"",
        LastName: "",
        MiddleName:"",
        OwnershipPerc:0,
        BirthDt: "",
        Phone: "",
        StreetNum: "",
        StreetName: "",
        City: "",
        PostalCode: "",
        StateProv: "",
        TaxId: ""
      }
      ],
      identity: {},
      individual: {},
      error: false
    };
  },
  validations: {
      people: {
        required,
        minLength: minLength(1),
          $each: {
            FirstName: {
            required
          },
          LastName: {
            required
          },
          MiddleName: {
            
          },
          BirthDt: {
            required,
            validDate
          },
          Phone: {
            required,
            validphone
          },
          StreetNum: {
            required
          },
          StreetName: {
            required
          },
          City: {
            required
          },
          PostalCode: {
            required,
            validzipcode
          },
          StateProv: {
            required
          },
          TaxId: {
            required
          }
        }
      }
  },
  async mounted() {
    let that = this;
    localStorage.setItem("type", "IndividualForm");
    let identity = await this.$axios({
      url: "/onboarding/accounts/identity",
      method: "GET",
      headers: {
        "content-type": "application/json",
        authorization: "Bearer " + this.token
      }
    })
      .then(response => {
          that.identity = response.data.identity;
          that.people = that.identity.people;
      })
      .catch(error => {
        let logObject = {module: "onboarding",error: error, details: {page: "individualForm.asyncMounted",endpoint: "/onboarding/accounts/identity",data:{} }};
        this.$store.commit('logError', logObject);
      });
  },
  methods: {
    back: function() {
      this.$router.push({ name: "MerchantType" });
    },
    next: function() {
      let that = this;
      let data= {
          identity: this.identity
      }
         this.$v.$touch();
           if(this.$v.$anyError){
               this.$toasted.show('There are form errors, please check',{
                  type : 'error',
                  duration : 3000,
                  position: "top-right", 
              })   
              return false
           }
      this.$axios({
        url: "/onboarding/accounts",
        method: "PUT",
        headers: {
          "content-type": "application/json",
          authorization: "Bearer " + this.token
        },
        data: data
      })
        .then(response => {
          this.$store.commit('setStepProgress', {step:2,status:  'completed'})
          that.$router.push({ name: "ConnectToBank" });
        })
        .catch(error => {
          this.submitted = false;
          let logObject = {module: "onboarding",error: error, details: {page: "individualForm.next",endpoint: "/onboarding/accounts",data: data}};
          this.$store.commit('logError', logObject);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
