<template>
  	<header class="">
			<div class="account-progress-outer">
				<div class="container-fluid">
					<ul class="account-progress initiate-account-header">
              <li @click="route('InitiateAccount')">
              <a  class="disabled" :class="menu.step1 == 'completed' ? 'progress-done' : ''">
                <span class="progress-list"
                    :class="menu.step1 ? 'progress-list-border' : ''"><span   class="check-bg"
                       :class="getIcon('step1')"><i>1</i></span><span class="mobile">Create an account</span></span>
              </a>
            </li>
            <li @click="route('MerchantType')" >
              <a  :class="[menu.step2 == 'completed' ? 'progress-done' : '',menu.step2 == 'completed' &&  menu.step4 != 'completed' ? '' : 'disabled']"  @click="route('MerchantType','step2')">
                <span   class="progress-list"
                    :class="menu.step2 ? 'progress-list-border' : ''"><span   class="check-bg"
                       :class="getIcon('step2')"><i>2</i></span><span class="mobile">Complete Your Profile</span></span>
              </a>
            </li>
            <li @click="route('ConnectToBank')">
              <a :class="[menu.step3 == 'completed' ? 'progress-done' : '',menu.step3 == 'completed'  &&  menu.step4 != 'completed' ? '' : 'disabled']" @click="route('ConnectToBank','step3')">
                <span   class="progress-list"
                    :class="menu.step3 ? 'progress-list-border' : ''"><span   class="check-bg"
                       :class="getIcon('step3')"><i>3</i></span><span class="mobile">Connect to Your Bank</span></span>
              </a>
            </li>
            <li @click="route('Checks')">
              <a  class="disabled"  :class="menu.step4 == 'completed' ? 'progress-done' : ''">
                <span class="progress-list"
                    :class="menu.step4 ? 'progress-list-border' : ''"><span   class="check-bg"
                       :class="getIcon('step4')"><i>4</i></span><span class="mobile">Approval</span></span>
              </a>
            </li>


					</ul>
				</div>
			</div>
		</header>
</template>
<script>
export default {
  data() {
    return {
      path: "",
      menu: {
        step1: "",
        step2: "",
        step3: "",
        step4: ""
      },
      stepProgress: this.$store.state.stepProgress
    };
  },
  computed: {
    getFullPath() {
      return (this.path = this._routerRoot._route.name);
    }
  },
  watch: {
    getFullPath(path) {
      this.setMenu(path);
    }
  },
  mounted() {
    this.path = this._routerRoot._route.name;
    this.setMenu(this.path);
  },
  methods: {
    setMenu(path) {
      if (path == "InitiateAccount" || path == "MobileCodeVerification") {
        this.menu = { step1: "progress", step2: "", step3: "", step4: "" };
      } else if (
        path == "MerchantType" ||
        path == "IndividualForm" ||
        path == "CompanyForm"
      ) {
        this.menu = {
          step1: "completed",
          step2: "progress",
          step3: "",
          step4: ""
        };
      } else if (path == "ConnectToBank" || path == "BankForm") {
        this.menu = {
          step1: "completed",
          step2: "completed",
          step3: "progress",
          step4: ""
        };
      } else if (path == "Checks") {
        this.menu = {
          step1: "completed",
          step2: "completed",
          step3: "completed",
          step4: "progress"
        };
      } else if (path == "AccountApproved" || path == "AccountNotApproved") {
        this.menu = {
          step1: "completed",
          step2: "completed",
          step3: "completed",
          step4: "completed"
        };
      }
    },
    getIcon(stepName) {
      const step = this.stepProgress[stepName];
      return step
        ? step == "progress"
          ? "check-ongoing-bg"
          : ""
        : "check-remaining";
    },
    route: function(path, stepName) {
      const step = this.menu[stepName];
          console.log('step  .. ',step);
     if (step == "completed" && this.menu.step4 != "completed" ) {
        console.log('came here .. ',step);
        this.$router.push({ name: path });
      }
    }
  }
};
</script>











