<template>
  <div
    class="modal fade custom-modal"
    id="payment-term"
    tabindex="-1"
    role="dialog"
    aria-labelledby="payment-term"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Payment Terms</h4>
          <button type="button" class="close close-custom" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="privacy-content">
            <div class="container">
              <h3>1. Terms of Sale</h3>
              <p>These are the payments terms that you and the buyer have agreed on. Terms such as cost, amount, delivery, payment method, and when the payment is expected or due. These are also the essential components of any invoice.</p>
              <p>In short, it’s the expectations between the buyer and seller so that there won’t be any potential misunderstandings nor disagreements because both parties clearly know what is expected and they are satisfied with the requirements.</p>
              <p>Terms of sale are particularly important in international trade since it covers when shipping occurs, who is responsible for international duties and taxes, and any other factors that have been established by the international chamber of commerce regulations.</p>
              <h3>2. Payment in Advance</h3>
              <p>Payment in advance, PIA for short, is simply a payment that is made ahead of schedule. It’s not uncommon for business owners to require advance payments for their products or services. For example, a freelance graphic designer may need a 50% down payment before starting a project. Advances protect sellers against non-payments and to cover any out-of-pocket expenses.</p>
              <p>For example, a freelance graphic designer may require a 50% down payment before starting a project. Advances protect sellers against non-payments and to cover any out-of-pocket expenses they require to accomplish the project.</p>
              <h3>3. Immediate Payment</h3>
              <p>This term, which is associated with “Cash on Delivery” (COD) or “Payable on Receipt,” means that a payment is due at the same time as a product or service is delivered. If the client doesn’t make the payment immediately — whether by credit card, e-check, wire transfer, or online service payment — the seller has the right to repossess the goods of intellectual property.
                <br>While this term is beneficial for the business owner since it speeds-up the payment process, it’s unpopular among some clients and customers since they’re afraid that they won’t have the cash to cover the bill.
              </p>
              <h3>4. Net 7, 10, 30, 60, 90</h3>
              <p>These imply that the net payment is due in either 7, 10, 30, 60, or 90 days after the invoice date. For example, if the invoice was dated June 10 and you used one of the most used payment terms, Net 30, then the payment would be expected before July 9.</p>
              <p>Because this term can be confusing to both accounts payable teams and clients alike, it’s suggested that you use a term that is more clear, such as, “Days” instead of “Net.” Furthermore, to keep your cash flow positive, use shorter terms like, “Please make payment within 10 days.”</p>
              <h3>6. Line of Credit Pay</h3>
              <p>This payment option gives the client the opportunity to settle their bills over a period of time — typically on a monthly or quarterly basis. In other words, it’s allowing the customer to purchase a product or service on credit. This is more commonly used among larger companies and not small-to-medium sized businesses because of the risk involved, as well as its ability to decrease your cash flow.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
         		<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
