<template>
  <div
    class="modal fade custom-modal"
    id="privacy-policy"
    tabindex="-1"
    role="dialog"
    aria-labelledby="privacy-policy"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
          <button type="button" class="close close-custom" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="privacy-content">
            <div class="container">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque sit amet porttitor eget dolor morbi non arcu. Non sodales neque sodales ut etiam. Eget duis at tellus at urna condimentum mattis pellentesque id. Massa sapien faucibus et molestie ac.</p>
              <p>Lectus arcu bibendum at varius. Duis ultricies lacus sed turpis tincidunt id aliquet. Blandit cursus risus at ultrices mi. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Faucibus nisl tincidunt eget nullam non nisi. Volutpat maecenas volutpat blandit aliquam. Pulvinar pellentesque habitant morbi tristique senectus et netus. Erat velit scelerisque in dictum non consectetur.</p>
              <p>Sem viverra aliquet eget sit amet tellus cras. Sed libero enim sed faucibus turpis in. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Est placerat in egestas erat imperdiet sed euismod nisi. Imperdiet dui accumsan sit amet nulla facilisi. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Quam quisque id diam vel quam elementum. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. Enim diam vulputate ut pharetra sit amet. Pharetra sit amet aliquam id. Ut consequat semper viverra nam libero justo. Adipiscing enim eu turpis egestas pretium. Consectetur purus ut faucibus pulvinar elementum integer enim neque.</p>
              <p>Sem viverra aliquet eget sit amet tellus cras. Sed libero enim sed faucibus turpis in. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Est placerat in egestas erat imperdiet sed euismod nisi. Imperdiet dui accumsan sit amet nulla facilisi. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Quam quisque id diam vel quam elementum. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. Enim diam vulputate ut pharetra sit amet. Pharetra sit amet aliquam id. Ut consequat semper viverra nam libero justo. Adipiscing enim eu turpis egestas pretium. Consectetur purus ut faucibus pulvinar elementum integer enim neque.
                <br>Erat velit scelerisque in dictum non. Massa sapien faucibus et molestie. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Ut consequat semper viverra nam libero justo. Semper quis lectus nulla at volutpat. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Non tellus orci ac auctor augue mauris augue. Ultricies mi eget mauris pharetra. Lacus viverra vitae congue eu consequat ac felis donec et. At quis risus sed vulputate odio ut enim blandit volutpat. Integer vitae justo eget magna fermentum iaculis eu non diam. Aliquam etiam erat velit scelerisque in dictum. Morbi leo urna molestie at elementum eu facilisis. Arcu non sodales neque sodales. Suspendisse sed nisi lacus sed viverra tellus in hac.
              </p>
              <h3>Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer.</h3>
              <p>Sem viverra aliquet eget sit amet tellus cras. Sed libero enim sed faucibus turpis in. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Est placerat in egestas erat imperdiet sed euismod nisi. Imperdiet dui accumsan sit amet nulla facilisi. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Quam quisque id</p>
              <p>Sem viverra aliquet eget sit amet tellus cras. Sed libero enim sed faucibus turpis in. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Est placerat in egestas erat imperdiet sed euismod nisi. Imperdiet dui accumsan sit amet nulla facilisi. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Quam quisque id diam vel quam elementum. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. Enim diam vulputate ut pharetra sit amet. Pharetra sit amet aliquam id. Ut consequat semper viverra nam libero justo. Adipiscing enim eu turpis egestas pretium. Consectetur purus ut faucibus pulvinar elementum integer enim neque.
                <br>Erat velit scelerisque in dictum non. Massa sapien faucibus et molestie. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Ut consequat semper viverra nam libero justo. Semper quis lectus nulla at volutpat. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Non tellus orci ac auctor augue mauris augue. Ultricies mi eget mauris pharetra. Lacus viverra vitae congue eu consequat ac felis donec et. At quis risus sed vulputate odio ut enim blandit volutpat. Integer vitae justo eget magna fermentum iaculis eu non diam. Aliquam etiam erat velit scelerisque in dictum. Morbi leo urna molestie at elementum eu facilisis. Arcu non sodales neque sodales. Suspendisse sed nisi lacus sed viverra tellus in hac.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
	       	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
