<template>
 <div>
      <Navigation  v-if="show" />
      <router-view/>
 </div>   
 
</template>

<script>
import Navigation from "./components/Navigation"

export default {
  name: 'App',
  components: {Navigation},
  data() {
    return {
      show: this._routerRoot._route.name != 'InitiateFailure'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
